* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans';
    color: #333;
    background:#b8f5f2
}

header {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20;
    position: sticky;
    top: 0;
    white-space: 60px;
    z-index: 1000;
    box-shadow: #333;
    background:#9ce7cd
}

nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-weight: bold;
    font-size: 30px;
    font-family: 'segoe script';
    color: #000680;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-family: 'segoe script';
}

.nav-links a1 {
    text-decoration: none;
    color: #FF9800;
    font-weight: bold;
    font-family: 'segoe script';
}

.btn-contact {
    padding: 15px 30px;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight:bold;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    
    align-items: center;
    background:#b8f5f2;
}

.hero-content {
    flex: 1 1 45%;
    margin-bottom: 20px;
    
}

.hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans';
    color: #333;
}

.hero-content h1 span {
    color: #7B5FFF;
    position: relative;
    font-size: 80px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-display: swap;
}
  
.animate-name {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 5s ease-out;
    animation-iteration-count: infinite;
  }
  
  .animate-name:nth-child(3) { animation-delay: 1s; }
  .animate-name:nth-child(4) { animation-delay: 1s; }
 
  
  @keyframes fadeIn {
    0%, 20% {
      opacity: 0;
      transform: translateY(-20px);
    }
    40%, 60% {
      opacity: 1;
      transform: translateY(0);
    }
    80%, 100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
.hero-content h1 span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 5px;
    
}

.hero-content p {
    margin-bottom: 30px;
    margin-right: 500px;
    color: #000000;
    font-size: 1.1rem;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-hire, .btn-work {
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-hire {
    background: #000000;
    color: #fff;
}

.btn-work {
    background: none;
    color: #000000;
    border: 2px solid #000000;
}

.hero-image {
    flex: 1 1 45%;
    position: relative;
}

.hero-image img {
    width: 100%;
    border-radius: 15px;
}

.social-links {
    position: absolute;
    top: 55%;
    left: 1400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 15px;
    transform: translateY(-50%);
}

.social-links a {
    display: block;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-text {
    max-width: 60%;
}

.intro-photo img {
    max-width: 300px;
    height: auto;
    margin-right: 100px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn-hire, .btn-work {
        width: 100%;
        text-align: center;
    }

    .badge {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-content, .hero-image {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .social-links {
        position: static;
        transform: none;
        flex-direction: row;
        justify-content: center;
    }

    .badge {
        font-size: 12px;
    }

    .award {
        top: 10px;
        left: 10px;
    }

    .customers {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }

    .hero {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .btn-hire, .btn-work {
        padding: 10px 20px;
    }

    .badge {
        padding: 5px 8px;
        font-size: 10px;
    }
}

.services-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #cdfbfc;
}

.services-section h2 {
    color: #6c63ff;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'segoe script';
}

.services-section h3 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #000000;
    font-family: 'Josefin Sans';
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.service-box {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-box:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Increases the shadow for a floating effect */
    background-color: #9dd8b3; /* Optional: Change the background color on hover */
}

.service-box img {
    max-width: 60px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.service-box:hover img {
    transform: scale(1.5); /* Slightly scales the image inside the box */
}

.service-box h4 {
    font-size: 1.25em;
    color: #333;
    margin-bottom: 10px;
    font-family: 'segoe script';
}

.service-box p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.service-box a {
    color: #ff8a00;
    text-decoration: none;
    font-weight: bold;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #000000;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for the Read More button */
.read-more-btn {
    background: none;
    padding: 10px 20px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}



/* Container for the skills section */
.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    gap: 5px;
    margin-left: 150px;
    overflow: hidden;
}

/* Grid for skill boxes */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    opacity: 0;
    transform: translateX(-100px); /* Start position for animation */
    transition: all 1.2s ease;
}

/* Styling for individual skill boxes */
.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.skill-box h4{
    font-family: 'segoe script';
}

/* Circle container */
.circle-progress {
    width: 250px;
    height: 250px;
    background: conic-gradient(#0066ff 0%, #0066ff calc(var(--percentage) * 1%), #ff0000 calc(var(--percentage) * 1%), #ff0000 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Percentage text inside the circle */
.circle-progress .percentage {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

/* Skill description */
.skills-description {
    max-width: 600px;
    margin-left: 0px;
    padding: 0;
    opacity: 0;
    transform: translateX(100px); /* Start position for animation */
    transition: all 1.2s ease;
}

/* When the elements are in view, add these classes via JavaScript */
.show-grid {
    transform: translateX(0);
    opacity: 1;
}

.show-description {
    transform: translateX(0);
    opacity: 1;
}

/* Animation for sliding in from the left */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation for sliding in from the right */
@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.skills-description h3 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'segoe script';
    margin-right: 150px;
    margin-bottom: 1px;
    margin-top: 150px;
}

.skills-description h2 {
    font-size: 50px;
    font-weight: bold;
    margin-right: 150px;
    margin-bottom: 1px;
}

.skills-description p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 150px;
}

/* Download CV button styling */
.download-cv-btn {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-cv-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    border: 2px solid #000000;
    border-width: 2px;
}

/* Portfolio Section */

.portfolio {
    text-align: center;
    padding: 50px 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #cdfbfc;
}

.portfolio h2 {
    color: #6c63ff;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'segoe script';
}

.portfolio h3 {
    font-size: 5em;
    margin-bottom: 40px;
    color: #000000;
    font-family: 'Josefin Sans';
}
.portfolio-section {
    text-align: center;
    padding: 50px;
  }
  
  .portfolio-filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .portfolio-filter ul li {
    margin: 0 px;
    cursor: pointer;
    font-family: 'segoe script';
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
  }
  
  .portfolio-filter ul li.active {
    border-bottom: 5px solid #000000;
    border-radius: 10px;
  }
  
  .portfolio-grid {
    display: grid;
    width: 1000px;
    align-items: center;
    margin-left: 200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: 1fr; /* Single image per line on smaller screens */
    }
  }
  
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-item img {
    width: 100%;
    max-width: 500px;
    display: block;
    transition: 0.3s ease-in-out;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-overlay h3 {
    margin-bottom: 1;
    font-size: 0.5rem;
    font-weight: normal;
  }
  
  .portfolio-overlay p {
    font-size: 1rem;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .portfolio-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .contact-info {
    width: 40%;
    padding: 20px;
    background: linear-gradient(145deg, #5f00d8, #a17be1);
    border-radius: 20px;
    color: #fff;
  }
  
  .info-item {
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  
  .info-item i {
    margin-right: 10px;
    color: #ffb200;
    font-size: 1.4em;
  }
  
  .contact-form {
    width: 55%;
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row input {
    width: 48%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    background-color: #ffb200;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #ffa000;
  }
  
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
    }
  
    .contact-info,
    .contact-form {
      width: 100%;
    }
  
    .form-row {
      flex-direction: column;
    }
  
    .form-row input {
      width: 100%;
    }
  }

  /* For tablets and smaller desktops */
@media (max-width: 1200px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-buttons {
        flex-direction: column;
    }
    .btn-hire, .btn-work {
        width: 100%;
        text-align: center;
    }
}

/* For smaller tablets and phones */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-content, .hero-image {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .social-links {
        position: static;
        transform: none;
        flex-direction: row;
        justify-content: center;
    }
}

/* For very small devices like phones */
@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }

    .hero {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .btn-hire, .btn-work {
        padding: 10px 20px;
    }
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax values as needed */
    gap: 20px;
}

/* ... other CSS ... */

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}
